# Environment variables
.env
.env.*
!.env.example
*.db

# Dependencies
node_modules/

# Build outputs
dist/
build/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads and temporary files
uploads/

frontend/src/uploads/v8-compile-cache-0/
node_modules/

frontend/src/uploads/v8-compile-cache-0/11.3.244.8-node.30/zSgatewayzSnode_moduleszSts-nodezSdistzSbin.js.BLOB

frontend/src/uploads/v8-compile-cache-0/11.3.244.8-node.30/zSgatewayzSnode_moduleszSts-nodezSdistzSbin.js.MAP