http://{$HOST_EXTERNAL} {
    handle /api/* {
        reverse_proxy gateway:4000
    }

    handle /events {
        reverse_proxy gateway:4000
    }

    handle {
        reverse_proxy frontend:5173
    }
}
