# ===================================
# Backend proxy (localhost)
# ===================================
http://{$HOST_LOCAL}:{$BACKEND_PORT} {
    reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
}

# ===================================
# Frontend proxy + docs (localhost)
# ===================================
http://{$HOST_LOCAL}:80 {
    handle /squid-docs* {
        root * /usr/share/caddy
        file_server
    }

    reverse_proxy {$FRONTEND_HOST}:{$FRONTEND_PORT}
}

# ===================================
# Backend proxy (dynamic IP)
# ===================================
http://{$HOST_EXTERNAL}:{$BACKEND_PORT} {
    reverse_proxy {$BACKEND_HOST}:{$BACKEND_PORT}
}

# ===================================
# Frontend proxy + docs (dynamic IP)
# ===================================
http://{$HOST_EXTERNAL}:80 {
    handle /squid-docs* {
        root * /usr/share/caddy
        file_server
    }

    reverse_proxy {$FRONTEND_HOST}:{$FRONTEND_PORT}
}


