version: "3.9"

services:
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "8080:80"
      - "4000:4000"
    environment:
      - PORT_BACKEND=4000
      - PORT_FRONTEND=8080
      - LOCAL_IP=localhost
      - DYNAMIC_IP=10.14.9.1
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./squid-toolkit/squid-docs:/usr/share/caddy/squid-docs:ro
    networks:
      - web

  frontend:
    image: frontend:latest
    build: ./frontend
    container_name: frontend
    restart: always
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/frontend
      - /frontend/node_modules
    networks:
      - web

  redis:
    image: redis/redis-stack-server:latest
    container_name: redis
    restart: always
    networks:
      - web

  rabbitmq:
    image: rabbitmq
    container_name: rabbitmq
    networks:
      - web
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 5s
  

  gateway:
    build: ./backend/gateway
    image: gateway-image
    container_name: gateway
    restart: always
    command: sh -c "sleep 10 && npm run dev"
    volumes:
      - ./frontend/src/uploads:/tmp/
      - ./backend/gateway/src:/gateway/src
    env_file:
      - ./backend/gateway/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - web

  auth:
    build: ./backend/services/auth
    image: auth-image
    container_name: auth
    restart: always
    command: sh -c "sleep 15 && npx prisma db push  && npx prisma studio  & npm run dev"
    env_file:
      - ./backend/services/auth/.env
    ports:
      - "5001:5555"
    volumes:
      - ./uploads/user/:/auth/uploads/
      - ./backend/services/auth/src:/auth/src
      - ./backend/services/auth/prisma:/auth/prisma
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - web

  user:
    build: ./backend/services/user
    image: user-image
    container_name: user
    restart: always
    command: sh -c "sleep 15 && npx prisma db push  && npx prisma studio  & npm run dev"
    env_file:
      - ./backend/services/user/.env
    ports:
      - "5002:5555"
    volumes:
      - ./uploads/user/:/user/uploads
      - ./backend/services/user/src:/user/src
      - ./backend/services/user/prisma:/user/prisma
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - web

  notify:
    build: ./backend/services/notify
    image: notify-image
    container_name: notify
    restart: always
    command: sh -c "sleep 15 && npx prisma db push  && npx prisma studio  & npm run dev"
    env_file:
      - ./backend/services/notify/.env
    ports:
      - "5004:5555"
    volumes:
      - ./backend/services/notify/src:/notify/src
      - ./backend/services/notify/prisma:/notify/prisma
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks: 
      - web

  chat:
    build: ./backend/services/chat
    image: chat-image
    container_name: chat
    restart: always
    command: sh -c "sleep 15 && npx prisma db push  && npx prisma studio  & npm run dev"

    env_file:
      - ./backend/services/chat/.env
    ports:
      - "5003:5555"
    volumes:
      - ./uploads/chat/:/chat/uploads
      - ./backend/services/chat/src:/chat/src
      - ./backend/services/chat/prisma:/chat/prisma
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks: 
      - web

  # game:
  #   build: ./backend/services/game
  #   image: game-image
  #   container_name: game
  #   restart: always
  #   command: sh -c "sleep 15 && npx prisma db push  && npx prisma studio  & npm run dev"
  #   env_file:
  #     - ./backend/services/game/.env
  #   ports:
  #     - "4005:4005"
  #     - "5005:5555"
  #   volumes:
  #     - ./backend/services/game/src:/game/src
  #     - ./backend/services/game/prisma:/game/prisma
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   networks: 
  #     - web
  # tournament:
  #   build: ./backend/services/tournament
  #   image: tournament-image
  #   container_name: tournament
  #   restart: always
  #   command: sh -c "sleep 15 && npx prisma db push  && npx prisma studio  & npm run dev"
  #   env_file:
  #     - ./backend/services/tournament/.env
  #   ports:
  #     - "5006:5555"
  #   volumes:
  #     - ./backend/services/tournament/src:/tournament/src
  #     - ./backend/services/tournament/prisma:/tournament/prisma
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   networks: 
  #     - web

networks:
  web:
    driver: bridge
